.contact-form label sup {
  color: #fc4545;
  font-size: 12px;
  top: 0;
}
.contact-form input,
textarea {
  background: transparent;
  color: white !important;
}
.contact-form input:focus,
textarea:focus {
  outline: none;
}
