.left-sidebar {
  max-width: 350px;
  padding: 30px;
  /* max-width: 485px; */
  width: 100%;
  border-radius: 30px;
  border: 1px solid #565656;
  position: fixed;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  /* padding: 50px; */
  z-index: 10;
}
.me {
  width: 100%;
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 30px;
  display: block;
}
.email,
.address {
  font-size: 20px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.theme-btn {
  width: 100%;
  background: var(--primary_color);
  color: #000000;
  display: block;
  text-align: center;
  padding: 11px 58px 10px 58px;
  display: inline-flex;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid var(--primary_color);
}
.theme-btn:hover {
  background: none;
  color: var(--primary_color);
}
.left-sidebar .social-profile {
  margin-bottom: 30px;
}
.left-sidebar .social-profile li a {
  /* display: block; */
  width: 50px;
  height: 50px;
  line-height: 46px;
  text-align: center;
  border: 2px solid #565656;
  border-radius: 50%;
  color: #999999;
  font-size: 20px;
  transition: 0.3s;
}
.left-sidebar .social-profile li a:hover {
  color: var(--primary_color);
  border-color: var(--primary_color);
}
.setting-toggle {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  background: #1f1f1f;
}
.setting-toggle .setting {
  animation: rotating 3s infinite linear;
}

.myAnimations .svg1 {
  animation: flow 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes flow {
  0% {
    top: -20px;
    rotate: 0deg;
  }
  50% {
    top: -40px;
    rotate: -15deg;
  }
  100% {
    top: -20px;
    rotate: 0deg;
  }
}
.myAnimations .svg2 {
  animation: bounce 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bounce {
  0% {
    top: 50px;
  }
  50% {
    top: 30px;
  }
  100% {
    top: 50px;
  }
}
.myAnimations .svg3 {
  animation: bounceTwo 3s infinite cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes bounceTwo {
  0% {
    top: 35px;
  }
  50% {
    top: 15px;
  }
  100% {
    top: 35px;
  }
}
