@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --cursor-color: rgba(255, 255, 255, 0.56);
}

html.dark-mode {
  --cursor-color: #fff;
}

@font-face {
  font-family: bigilla;
  src: url(../src/assets/fonts/Bigilla.otf);
}
@font-face {
  font-family: bigillaBold;
  src: url(../src/assets/fonts/Bigilla-Bold.otf);
}
.bigilla {
  font-family: bigilla;
}
.bigillaBold {
  font-family: bigillaBold;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: #999999;
  background: #1f1f1f;
  line-height: 1.7;
  overflow-x: hidden;
  height: 100vh;
  box-sizing: border-box;
}
.family-inter {
  font-family: "Inter", sans-serif;
}
:root {
  --primary_color: #28e98c;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
